numpy
tensorboard
pandas
torch==2.0.1
deepspeed
accelerate
colorama
cpm_kernels
bitsandbytes
sentencepiece
streamlit
transformers==4.32.1
datasets
transformers_stream_generator
einops
scikit-learn
xformers