datasets
deepspeed
einops
isort
jsonlines
loralib
peft
ray[default]
torch==2.0.1
torchmetrics
tqdm
transformers==4.33
wandb
sentencepiece
tensorboard
xformers==0.0.21
streamlit
uvicorn
requests
fastapi